
/* H0 */
.h0 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;

    /* Black */
    color: #131415;
}

/* H2 */
.h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;

    /* Blue */
    color: #4E5FFF;
}

/* subtitle */
.subtitle {
    font-family: 'Open Sans';

    font-weight: 300;

    /* Grey */
    color: #7E8790;
}

.halo_section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.header_left {
    background-image: url("../images/header_left.png");
    background-size:cover;
    object-fit: cover;
    height: calc(100vh - 56px);
    width: 100%;
}

.header_right {
    background-image: url("../images/header_right.png");
    background-size:cover;
    object-fit: cover;
    height: calc(100vh - 56px);
    width: 100%;
}

.header_form_section {
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(245,245,245);
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    position: absolute;
    width: 90vh;;
    z-index: 10;
}

.logo {
    background-image: url("../images/logo.png");
    background-size:cover;
}

ul{
    padding-left: 0;
    list-style:none;
}

li {
    padding-top: 10px;
    font-family: 'Open Sans';
    font-weight: 300;
    /* Grey */
    color: #7E8790;
    font-size: 20px;
}

#social_features2:hover{
  z-index:1;
}


.halo_form {
    border-radius: 20px;
}

.form-control {
    border-radius: 25px;
    padding: 25px;
}

.submit_form {
    width: 150px;
    border-top-right-radius: 25px!important;
    border-bottom-right-radius: 25px!important;
}

.submit_form:hover {
    box-shadow: 0px 0px 10px 10px rgba(250,199,43,0.2);
}

.form-control::-webkit-input-placeholder { color: rgb(210,210,210); font-weight: lighter;} /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgb(210,210,210); font-weight: lighter; } /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgb(210,210,210); font-weight: lighter; } /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: rgb(210,210,210); font-weight: lighter; } /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgb(210,210,210); font-weight: lighter; } /* Microsoft Edge */
